.search-form {
    height: 40px;
    max-width: 300px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #056e7d;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: white;
}
.search-product {
    height: 100%;
    border-radius: 5px;
    width: 200px;
    border: none;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}
.search-button {
    height: 100%;
    width: 100px;
    border-radius: 3px;
    color: white;
    border: 1px solid #056e7d;
    background-color: #056e7d;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
}
:hover.search-button {
    color: #FFFC33;
}
.loader, .loader:after {
     border-radius: 50%;
     width: 1.5em;
     height: 1.5em;
 }
.loader {
    font-size: 10px;
    margin: auto;
    position: relative;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
